


#boardSvg {
  height: 530px;
  max-height: 100%;
  max-width: 100%;
  display: block;
  margin: 0px auto;
  z-index: 5;
  position: relative;
  border:3px solid black;
  border-radius: 33px;
  width: 95%
}

#boardButton {
  -webkit-animation: pulse 2.5s linear infinite;
          animation: pulse 2.5s linear infinite; 
  cursor: pointer;
  position: absolute;
  left: 65%;
  top: 75%;
  z-index: 11;
  height:50px;
  width:auto;
  padding:15px 15px;
  font-weight: bold;
  border-radius: 10px;
  border: 1px black solid;
  font-size: 1.1em;
}


#bubble {
  position: absolute;
  /* bottom: 300px; */
  height: 200px;
  width: 300px;
  z-index:10;
  top:230px;
}

#svgContainer {
  top: 20px;
  width: 100%;
  height: 70vh;
  margin: 0px auto;
  display: block;
  position: relative;
}

#boardButton:hover, #boardButton:focus {
  background: lightcoral;
  }
  


@media only screen and (min-width: 900px) {
  #bubble {
    left: 50px;
  }
}

@media only screen and (min-width: 1100px) {
  #bubble {
    left: 120px;
    height: 230px;
    width: 350px;
  }
}


@-webkit-keyframes pulse{
  0%{
    -webkit-box-shadow: 0 0 0 0 rgba(255,109,74,0.7), 0 0 0 0 rgba(255,109,74,0.7);
            box-shadow: 0 0 0 0 rgba(255,109,74,0.7), 0 0 0 0 rgba(255,109,74,0.7);
  }
  40%{
    -webkit-box-shadow: 0 0 0 30px rgba(255,109,74,0), 0 0 0 0px rgba(255,109,74,0.7);
            box-shadow: 0 0 0 30px rgba(255,109,74,0), 0 0 0 0px rgba(255,109,74,0.7);
  }
  
  80%{
    -webkit-box-shadow: 0 0 0 30px rgba(255,109,74,0),0 0 0 30px rgba(255,109,74,0);
            box-shadow: 0 0 0 30px rgba(255,109,74,0),0 0 0 30px rgba(255,109,74,0);
  }
  100%{
    -webkit-box-shadow: 0 0 0 0 rgba(255,109,74,0.7), 0 0 0 30px rgba(255,109,74,0);
            box-shadow: 0 0 0 0 rgba(255,109,74,0.7), 0 0 0 30px rgba(255,109,74,0);
  }
  
}
@keyframes pulse{
  0%{
    -webkit-box-shadow: 0 0 0 0 rgba(255,109,74,0.7), 0 0 0 0 rgba(255,109,74,0.7);
            box-shadow: 0 0 0 0 rgba(255,109,74,0.7), 0 0 0 0 rgba(255,109,74,0.7);
  }
  40%{
    -webkit-box-shadow: 0 0 0 30px rgba(255,109,74,0), 0 0 0 0px rgba(255,109,74,0.7);
            box-shadow: 0 0 0 30px rgba(255,109,74,0), 0 0 0 0px rgba(255,109,74,0.7);
  }
  
  80%{
    -webkit-box-shadow: 0 0 0 30px rgba(255,109,74,0),0 0 0 30px rgba(255,109,74,0);
            box-shadow: 0 0 0 30px rgba(255,109,74,0),0 0 0 30px rgba(255,109,74,0);
  }
  100%{
    -webkit-box-shadow: 0 0 0 0 rgba(255,109,74,0.7), 0 0 0 30px rgba(255,109,74,0);
            box-shadow: 0 0 0 0 rgba(255,109,74,0.7), 0 0 0 30px rgba(255,109,74,0);
  }
  
}









 


