
#contactMainDiv {
  height: 80%;
  position: relative;
  font-size: 1em;
  display: flex;
  flex-direction:  column;
  justify-content: space-between;
 
}

#contactInnerDiv {
    padding: 5px;
    background-color: lightcyan;
    padding-top: 30px;
    /* width: 90%; */
    display: block;
    margin: 0 auto;
    position: relative;
    border: 1px solid black;
  
}

p {
  font-size: 0.8em;
}

#contactInnerDiv ul {
 list-style: none;
}

#contactInnerDiv ul li {
  margin-top: 20px;
  padding-bottom: 10px;
 }

 #copyRightText {
   font-size: 0.8em;
   margin-left: 20px;
   font-style: italic;
   
 }
